<div class="flex flex-col gap-1">
  <label class="text-xs text-gray-500 font-medium">Search</label>
  <div class="flex items-center gap-2 border border-gray-300 rounded-lg px-3 py-1.5 w-64 bg-white focus-within:border-blue-500 transition-all">
    <svg lucideSearch [size]="14" class="text-gray-400"></svg>
    <input
    [formControl]="searchControl"
    (input) = "onSearchChange()"
      type="text"
      placeholder="Search a task..."
      class="text-xs text-gray-600 placeholder-gray-400 outline-none w-full bg-transparent" />
  </div>
</div>