<div class="max-w-xl mx-auto py-8">
  <div class="relative border border-slate-200 rounded-2xl p-6 bg-white">
    <h2 class="text-xl font-medium text-slate-800 mb-1">New task</h2>
    <p class="text-sm text-slate-400 mb-6">Fill in the details to organize your day.</p>
    
    <button class="absolute top-3 right-3 text-slate-600 hover:text-slate-800 cursor-pointer hover:bg-slate-200 p-1 rounded transition-colors">
        <svg lucideX [size]="16"></svg>
    </button>

    <form class="space-y-5" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <label for="title" class="block text-xs text-slate-900 mb-1.5">Title</label>
        <input id="title" type="text" formControlName="title" placeholder="e.g. Design dashboard"
          class="w-full px-3 py-2 text-sm border border-slate-200 rounded-lg bg-white text-slate-800 outline-none focus:border-slate-400 transition-colors" />
          @let title = form.get('title');
          @if(title?.invalid && title?.touched){
            @if(title?.errors?.['required']){ <p class="text-red-500 text-xs mt-1">Title is required</p> }
            @if(title?.errors?.['minlength']){ <p class="text-amber-600 text-xs mt-1">Title must be at least 5 characters</p> }
          }
      </div>

      <div>
        <label for="description" class="block text-xs text-slate-900 mb-1.5">Description</label>
        <textarea id="description" rows="3" formControlName="description" placeholder="What needs to be done?"
          class="w-full px-3 py-2 text-sm border border-slate-200 rounded-lg bg-white text-slate-800 outline-none focus:border-slate-400 transition-colors resize-none leading-relaxed"></textarea>
          @let description = form.get('description');
          @if(description?.invalid && description?.touched){
            @if(description?.errors?.['required']){ <p class="text-red-500 text-xs mt-1">Description is required</p> }
            @if(description?.errors?.['minlength']){ <p class="text-amber-600 text-xs mt-1">Description must be at least 20 characters</p> }
          }
      </div>

      <div class="grid grid-cols-2 gap-3">
        <div>
          <label class="block text-xs text-slate-900 mb-1.5">Priority</label>
          <select formControlName="priority" class="w-full px-3 py-2 text-sm border border-slate-200 rounded-lg bg-white text-slate-800 outline-none focus:border-slate-400 transition-colors cursor-pointer">
            <option value="High">High</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
          </select>
          @let priority = form.get('priority');
          @if(priority?.invalid && priority?.touched){
            <p class="text-red-500 text-xs mt-1">Priority is required</p>
          }
        </div>
        <div>
          <label class="block text-xs text-slate-900 mb-1.5">Status</label>
          <select formControlName="status" class="w-full px-3 py-2 text-sm border border-slate-200 rounded-lg bg-white text-slate-800 outline-none focus:border-slate-400 transition-colors cursor-pointer">
            <option  value="To do">To do</option>
            <option value="In progress">In progress</option>
            <option value="Done">Done</option>
          </select>
          @let status = form.get('status');
          @if(status?.invalid && status?.touched){
            <p class="text-red-500 text-xs mt-1">Status is required</p>
          }
        </div>
      </div>

      <!-- Dates -->
      <div class="grid grid-cols-2 gap-3">
        <div>
          <label class="block text-xs text-slate-900 mb-1.5">Start date</label>
          <input type="date" formControlName="startDate"
            class="w-full px-3 py-2 text-sm border border-slate-200 rounded-lg bg-white text-slate-800 outline-none focus:border-slate-400 transition-colors" />
            @let startDate = form.get('startDate');
            @if(startDate?.invalid && startDate?.touched){
              <p class="text-red-500 text-sm">Start date is required</p>
            }
        </div>
        <div>
          <label class="block text-xs text-slate-900 mb-1.5">End date</label>
          <input type="date" formControlName="endDate"
            class="w-full px-3 py-2 text-sm border border-slate-200 rounded-lg bg-white text-slate-800 outline-none focus:border-slate-400 transition-colors" />
            @let endDate = form.get('endDate');
            @if(endDate?.invalid && endDate?.touched){
              <p class="text-red-500 text-sm">End date is required</p>
            }
        </div>
      </div>

      <!-- Actions -->
      <div class="flex justify-end gap-2 pt-2">
        <app-button label="Cancel" variant="secondary" (btnClick)="onClearForm()">
        </app-button>
        <app-button label="Create task"  variant="primary" (btnClick)="onSubmit()" [disabled]="form.invalid">
        </app-button>
      </div>
    </form> 
  </div>
</div> 